<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496486529208-7v3jdd9lgfr5qmed3k8lqljtqp2rnd9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496486529208-7v3jdd9lgfr5qmed3k8lqljtqp2rnd9k</string>
	<key>API_KEY</key>
	<string>AIzaSyCmrJ_sTRk5T_7RrVHqrTgyMdF-dz-OR3U</string>
	<key>GCM_SENDER_ID</key>
	<string>496486529208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mymorning.app</string>
	<key>PROJECT_ID</key>
	<string>mymorning-55468</string>
	<key>STORAGE_BUCKET</key>
	<string>mymorning-55468.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496486529208:ios:ac0c361e6c04665da65c4d</string>
</dict>
</plist>